<p class="lead lead-lg text-center primary-color wow fadeIn animation-delay-3">Técnologias <strong>Utilizadas</strong> no Projeto</p>

<section class="margin-bottom margin-top">
    <ul class="nav nav-pills nav-justified ar-nav-pills max-width-500 center-block margin-bottom">
        <li><a href="#windows" data-toggle="tab"><i class="fa fa-twitter"></i> Presentation</a></li>
        <li class="active"><a href="#mac" data-toggle="tab"><i class="fa fa-hashtag"></i> Core</a></li>
        <li><a href="#linux" data-toggle="tab"><i class="fa fa-industry"></i> Design Patterns</a></li>
    </ul>

    <div class="tab-content margin-top">
        <div class="tab-pane" id="windows">
            <div class="row">
                <div class="col-md-6 col-lg-5 col-md-push-6 col-lg-push-7">
                    <ul class="list-unstyled hand-list">
                        <li class="animated fadeInRight animation-delay-2">
                            <h2 class="handwriting no-margin">ASP.NET MVC 5</h2>
                            <p class="lead-hand">-> C#</p>
                            <p class="lead-hand">-> JQuery 3.1.0</p>
                            <p class="lead-hand">-> Json Result</p>
                            <p class="lead-hand">-> HTML 5</p>
                            <p class="lead-hand">-> CSS3</p>
                            <p class="lead-hand">-> Bootstrap</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-7 col-md-pull-6 col-lg-pull-5">
                    <img class="img-responsive animated zoomInDown animation-delay-3" src="~/img/Diversas/mvc5.png">
                </div>
            </div>
        </div>
        <div class="tab-pane active" id="mac">
            <div class="row">
                <div class="col-md-6 col-lg-5">
                    <ul class="list-unstyled hand-list">
                        <li class="wow fadeInLeft animation-delay-2">
                            <h2 class="handwriting no-margin">Entity Framework 6.1.3</h2>
                            <p class="lead-hand">-> Code First</p>
                            <p class="lead-hand">-> FluentAPI</p>
                        </li>
                        <li class="wow fadeInLeft animation-delay-4">
                            <h2 class="handwriting no-margin">DataBase and Tools</h2>
                            <p class="lead-hand">-> ADO.NET 4.0</p>
                            <p class="lead-hand">-> Dapper 1.38</p>
                            <p class="lead-hand">-> Stored Procedures</p>
                            <p class="lead-hand">-> SQL Server</p>
                            <p class="lead-hand">-> AutoMapper 4.2.1</p>
                            <p class="lead-hand">-> Simple Injector 3.2.0</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-7">
                    <img class="img-responsive animated zoomInDown animation-delay-3" src="~/img/Diversas/entity-framework-logo-750x281.jpg">
                </div>
            </div>
        </div>
        <div class="tab-pane" id="linux">
            <div class="row">
                <div class="col-md-6 col-lg-5 col-md-push-6 col-lg-push-7">
                    <ul class="list-unstyled hand-list">
                        <li class="animated fadeInRight animation-delay-2">
                            <h2 class="handwriting no-margin">Patterns</h2>
                            <p class="lead-hand">-> DDD - Domain Drive Design</p>
                            <p class="lead-hand">-> SOLID </p>
                            <p class="lead-hand">-> TDD - Teste Driven Design</p>
                            <p class="lead-hand">-> CrossCutting</p>
                            <p class="lead-hand">-> Dependency Injection</p>
                            <p class="lead-hand">-> Unit of Work</p>
                            <p class="lead-hand">-> OneContextPerRequest</p>
                            <p class="lead-hand">-> Self-Validation</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-7 col-md-pull-6 col-lg-pull-5">
                    <img class="img-responsive animated zoomInDown animation-delay-3" src="~/img/Diversas/Solid-1024x283.jpg">
                </div>
            </div>
        </div>
    </div>
</section>
